{% extends 'base.html.twig' %}

{% block title %}New Author{% endblock %}

{% block body %}
    <h1>Create new Author</h1>

    {{ include('author/_form.html.twig') }}

    <a href="{{ path('app_author_index') }}">back to list</a>
{% endblock %}
{% extends 'base.html.twig' %}

{% block title %}Create New Author{% endblock %}

{% block body %}
    <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div>
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    Create New Author
                </h2>
            </div>
            {{ component('author_form', {
                author: author,
                submitLabel: 'Create Author'
            }) }}
            <div class="text-sm text-center">
                <a href="{{ path('app_author_index') }}" class="font-medium text-indigo-600 hover:text-indigo-500">
                    Back to list
                </a>
            </div>
        </div>
    </div>
{% endblock %}
