{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {# TODO: Implement registration form #}
    <p>Registration form will be implemented here.</p>
{% endblock %}
