{% extends 'base.html.twig' %}

{% block title %}Create New Book{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Create New Book</h1>

                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-lg btn-primary btn-block mt-3">Create Book</button>
                        {{ form_end(form) }}

                        <div class="text-center mt-3">
                            <a href="{{ path('get_all_books') }}" class="text-primary">Back to list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
