{% extends 'base.html.twig' %}

{% block title %}Create New Book{% endblock %}

{% block body %}
    <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div>
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    Create New Book
                </h2>
            </div>
            <turbo-frame id="book-form">
                {{ component('book_form', {
                    book: book,
                    submitLabel: 'Create Book'
                }) }}
            </turbo-frame>
            <div class="text-sm text-center">
                <a href="{{ path('get_all_books') }}" class="font-medium text-indigo-600 hover:text-indigo-500">
                    Back to list
                </a>
            </div>
        </div>
    </div>
{% endblock %}
