<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ importmap('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body class="bg-gray-100">
        <nav class="bg-blue-500 p-4">
            <div class="container mx-auto">
                <a href="{{ path('get_all_books') }}" class="text-white font-bold">Book Management</a>
            </div>
        </nav>
        <div class="container mx-auto mt-8">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
